<h1><%=@task.title%></h1>

<p><%=@task.details%></p>

<%if @task.completed%>
  <p>This taks has been completed.</p>
<%else%>
  <p>This taks not has been completed.</p>
<%end%>

<p><%=link_to 'Edit this task', '/tasks/' + @task.id.to_s + '/edit'%></p></p>

<p><%=link_to 'Back to list', '/tasks'%></p>
